// ====================================================================================================
// Utilities / Grid
// ====================================================================================================

// Update default grid values via 'variables/grid'

// Responsive flex grid
// --------------------------------------------------

// Grid defaults
.grid {
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
}

// Column defaults
.grid {
  & > .col {
    @include flexbox;
    @include flex(1);
    @include flex-flow(column);
  }
  // Allow responsive column classes to flex to desired width
  & > [class*="col--"] { @include flex-basis(auto); }
}


// Generate default column width utility classes
// Loop through $breakpoints, generating breakpoint-based utility classes
// % values based on a 12 column grid
// Example output: '.col--6', '.col--3-l' etc
// --------------------------------------------------

// Generate default column classes
@for $i from 1 through 12 {
	$col__width: ($i/$grid__columns) * 100%;
	.col--#{$i} {
    @include flex-basis($col__width);
    max-width: $col__width;
  }
}

// Generate responsive column classes
@each $key, $value in $grid__breakpoints {
  @include mq($from: $key) {
    @for $i from 1 through 12 {
  	   $col__width: ($i/$grid__columns) * 100%;
       .col--#{$i}-#{str-slice($key, 0, 1)} {
         @include flex-basis($col__width);
         max-width: $col__width;
      }
    }
  }
}


// Grid modifiers
// --------------------------------------------------

// Set grid gutter widths
// Example usage: '<div class="grid grid--narrow"></div>'
.grid {
  // Zero grid gutter
  &.grid--zero {
    margin: 0;
    & > .col {
      padding: 0;
    }
  }
  // Narrow grid gutter
  &.grid--narrow {
    @include rem(margin-left, -$grid__gutter--narrow);
    & > .col {
      @include rem(padding-left, $grid__gutter--narrow);
    }
  }
  // Base grid gutter
  &.grid--base {
    @include rem(margin-left, -$grid__gutter--base);
    & > .col {
      @include rem(padding-left, $grid__gutter--base);
    }
  }
  // Wide grid gutter
  &.grid--wide {
    @include rem(margin-left, -$grid__gutter--wide);
    & > .col {
      @include rem(padding-left, $grid__gutter--wide);
    }
  }
}

// Set grid flex direction to 'column'
.grid__direction--column { @include flex-direction(column); }

// Set grid flex direction to 'row'
.grid__direction--row { @include flex-direction(row); }

// Align grid items to bottom
.grid__vertical-align--bottom { @include align-items(flex-end); }

// Align grid items to center (vertical)
.grid__vertical-align--center { @include align-items(center); }

// Align grid items to center (horizontal)
.grid__justify--center { @include justify-content(center); }


// Column modifiers
// --------------------------------------------------

// Push column to center of parent (horizontal)
.col__push--center {
  margin-right: auto;
  margin-left: auto;
}

// Push column to right of parent
.col__push--right { margin-left: auto; }

// Push column to left of parent
.col__push--left { margin-right: auto; }

// Push column to bottom of parent
.col__push--bottom { margin-top: auto; }
