// ====================================================================================================
// Utilities / Visibility
// ====================================================================================================

// Generic visibility classes
// --------------------------------------------------

.hide { display: none; }

.invisible { opacity: 0; }

.visible { opacity: 1; }


// Device-based visibility classes
// --------------------------------------------------

// Hide for @small
.hide--small {
  @include mq($until: medium) {
    display: none;
  }
}

// Hide for @medium
.hide--medium {
  @include mq($from: medium, $until: large) {
    display: none;
  }
}

// Hide from @large
.hide--large {
  @include mq($from: large) {
    display: none;
  }
}
