// ====================================================================================================
// Variables / Spacing
// ====================================================================================================

// Define component spacing defaults (px)
// Values can be accessed via 'spacing($key)'
// Example usage: 'padding: spacing(1);'
// --------------------------------------------------

$spacingDefaults: (
  0: 0px,
  1: 4px,
  2: 8px,
  3: 16px,
  4: 24px,
  5: 32px,
  6: 40px,
  7: 48px,
  8: 56px,
  9: 64px
) !default;

// Define spacing directions
// Passed to function to create utility classes
$directionDefaults: (
  top,
  right,
  bottom,
  left
);


// Define layout spacing defaults (px)
// Values can be accessed via 'spacing($key)'
// Example usage: 'margin-bottom: layout(4);'
// --------------------------------------------------

$layoutDefaults: (
  0: 16px,
  1: 24px,
  2: 32px,
  3: 48px,
  4: 64px,
  5: 96px,
  6: 128px,
  7: 160px,
) !default;
